/* --- SOURCE SERIF 4 --- */

/* Regular */
@font-face {
  font-family: 'Source Serif 4';
  src: url('/static/fonts/source-serif-4-v14-cyrillic_latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 700 (Bold) */
@font-face {
  font-family: 'Source Serif 4';
  src: url('/static/fonts/source-serif-4-v14-cyrillic_latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 700 Italic */
@font-face {
  font-family: 'Source Serif 4';
  src: url('/static/fonts/source-serif-4-v14-cyrillic_latin-700italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* 300 (Light) */
@font-face {
  font-family: 'Source Serif 4';
  src: url('/static/fonts/source-serif-4-v14-cyrillic_latin-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 300 Italic */
@font-face {
  font-family: 'Source Serif 4';
  src: url('/static/fonts/source-serif-4-v14-cyrillic_latin-300italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* --- INTER --- */

/* Regular */
@font-face {
  font-family: 'Inter';
  src: url('/static/fonts/inter-v20-cyrillic_latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 300 */
@font-face {
  font-family: 'Inter';
  src: url('/static/fonts/inter-v20-cyrillic_latin-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 500 */
@font-face {
  font-family: 'Inter';
  src: url('/static/fonts/inter-v20-cyrillic_latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 700 */
@font-face {
  font-family: 'Inter';
  src: url('/static/fonts/inter-v20-cyrillic_latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/*
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,700;1,8..60,400;1,8..60,700&display=swap');
*/

body {
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Inter', sans-serif;
}

h2 {
    margin: 5px;
}

h3 {
    margin-top: 5px;
}


.summary-results b {
    font-weight: normal;
}

.summary-results h3 {
    margin-bottom: 10px;
}

.summary-results hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.summary-link {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}

.dpd-pane {
    border-radius: 7px;
    border: 2px solid transparent;
    flex: 3;
    padding: 5px;
    overflow-y: auto;
    margin: 5px;
}