<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DG Digital Pāḷi Dictionary</title>
  <link rel="manifest" href="/static/manifest.json">
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/static/sw.js');
    }
  </script>

  <meta name="theme-color" content="#1a8bdb">

  <link rel="canonical" href="https://dict.dhamma.gift/">
  <link rel="alternate" href="https://dict.dhamma.gift/ru/" hreflang="ru">
  <link rel="alternate" href="https://dict.dhamma.gift/" hreflang="en">
  <link rel="alternate" href="https://dict.dhamma.gift/" hreflang="x-default">

  <link rel="stylesheet" type="text/css" href="/static/home.css">
  <link rel="stylesheet" type="text/css" href="/static/switch.css">
  <link rel="stylesheet" type="text/css" href="/static/dpd.css">
  <link rel="icon" type="image/png" href="/static/dpd-logo.svg">

  <link href="/static/jquery-ui.min.css" rel="stylesheet" />
  <link href="/static/extrastyles.css" rel="stylesheet" />
  <script src="/static/jquery-3.7.0.min.js"></script>
  <script src="/static/jquery-ui.min.js"></script>

  <style>
  </style>

</head>


<body>


  <div id="dpd-tab" class="tab-content active">
    <div class="header-pane">
      <div class="logo-title">
        <a href="javascript:void(0)" title="toggle En/Ru (Alt+1 or Ctrl+1)" onclick="changeLanguage('ru')"
          class="alogo"><img src="/static/dpd-logo.svg" alt="dpd logo" id="header-image" class="header-image"></a>
        <h2 class="title" id="title-clear"><a href="/" class="alogo">DPD</a></h2>
      </div>

      <div class="header-lang-button">
        <button class="round-button" title="toggle Language En/Ru (Alt+1 or Ctrl+1)" onclick="changeLanguage('ru')"><img src="/static/dpd-logo.svg" alt="dpd logo" class="header-image"></button>
      </div>


      <div class="dict-dropdown-container">
        <button class="round-button dict-dropdown-toggle" title="Open dictionaries"
          onclick="toggleDictDropdown(event)">
          📘
        </button>
        <div class="dict-dropdown-menu-down"></div>
      </div>


      <form id="search-form">
        <div class="mb-3 form-group input-group ui-widget dropup rounded-pill">
          <label class="sr-only dropup" for="search-box"></label>
          <input class="search-box" type="search" name="search" id="search-box" placeholder="Search..."
            value="{{ search }}" autocomplete="off" inputmode="text" autocapitalize="off" autofocus>
          <button class="search-button" id="search-button"><span>search</span></button>
          <button class="help small-button" id="search-help-button">
            ?
            <span class="tooltip velthuis">
              <b>
                Velthuis Typing:
              </b><br><br>
              aa - ā<br>
              ii - ī<br>
              uu - ū<br>
              "n - ṅ<br>
              ~n - ñ<br>
              .t - ṭ<br>
              .d - ḍ<br>
              .n - ṇ<br>
              .m - ṃ<br>
              .l - ḷ
            </span>
          </button>

        </div>
      </form>
    </div>
    <div class="main-pane" id="main-pane">
      <div class="history-pane" id="history-pane">
        <button class="collapse-btn" onclick="toggleHistory()">
          <h3>
            History <div class="history-icon"></div>
          </h3>
        </button>
        <div id="history-content">


          <button id="clear-history-button" class="clear-history-button">x</button>
          <div class="history-list-pane" id="history-list-pane"></div>
        </div>
      </div>
      <div class="dpd-pane" id="dpd-pane">
        <div class="summary-results" id="summary-results"></div>
        <div class="dpd-results" id="dpd-results">
          {{ dpd_results|safe }}
        </div>
      </div>
      <div class="settings-pane">
        <button class="collapse-btn" onclick="toggleSettings()">
          <h3>
            Settings <div class="settings-icon"></div>
          </h3>
        </button>
        <div id="settings-content">
          <p>
            <div class="language-switcher">
            <span class="language-icon" title="Language"> 🌐 Change Language
              <span class="tooltip">
                <b>Language</b>
              </span>
            </span>
            <div class="dropdown" style="display: none;">
              <a href="javascript:void(0)" class="dropdown-item" onclick="changeLanguage('en')">English</a>
              <a href="javascript:void(0)" class="dropdown-item" onclick="changeLanguage('ru')">Русский</a>
            </div>
          </div>
          </p>
          <p>
            <button class="small-button" id="font-size-down">-</button>
            <button class="small-button" id="font-size-up">+</button>
            font size
            <span id="font-size-display"></span>
          </p>
          <p>
            <label class="switch">
              <input type="checkbox" id="theme-toggle"><span class="slider round"></span>
            </label>
            light / dark mode
          </p>
          <p>
            <label class="switch">
              <input type="checkbox" id="sans-serif-toggle"><span class="slider round"></span>
            </label>
            sans / serif font
          </p>
          <p>
            <label class="switch">
              <input type="checkbox" id="niggahita-toggle"><span class="slider round"></span>
            </label>
            niggahīta ṃ / ṁ
          </p>
          <p>
            <label class="switch">
              <input type="checkbox" id="grammar-toggle"><span class="slider round"></span>
            </label>
            grammar button closed / open
          </p>
          <p>
            <label class="switch">
              <input type="checkbox" id="example-toggle"><span class="slider round"></span>
            </label>
            example button closed / open
          </p>
          <p>
            <label class="switch">
              <input type="checkbox" id="one-button-toggle" checked><span class="slider round"></span>
            </label>
            one button at a time off / on
          </p>
          <p>
            <label class="switch">
              <input type="checkbox" id="summary-toggle"><span class="slider round"></span>
            </label>
            summary hide / show
          </p>
          <p>
            <label class="switch">
              <input type="checkbox" id="sandhi-toggle"><span class="slider round"></span>
            </label>
            sandhi ' hide / show
          </p>
                <p>
                    <label class="switch">                                            <input type="checkbox" id="audio-toggle" />
                        <span class="slider round"></span>                        </label>                                                      audio male / female                                       </p>
          <p>
            <label class="switch">
<input type="checkbox" id="tabs-toggle" checked>

              <span class="slider round"></span>
            </label>
            links hide / show
          </p>

        </div>
      </div>
    </div>
    <div class="footer-pane">
        <!-- <a href="javascript:void(0)" title="Открыть слово в PTS, CPD, CONE, Skr, Wisdomlib (Alt + Q)"
        onclick="openDictionaries(event)">Dict</a> -->

              <div class="dict-dropdown-container">
        
 <a href="javascript:void(0)" clas="dict-dropdown-toggle" title="Open dictionaries (Alt + Q) for main dicts"  onclick="toggleDictDropdown(event)">
          Dict</a>
        <div class="dict-dropdown-menu"></div>
      </div>


      <a id="fdg-link" href="" target="" title="Искать слово с помощью Dhamma.Gift">DG</a> <a
        href="/static/dictTest.html" rel="noopener noreferrer" title="CC BY-NC-SA 4.0 — Attribution-NonCommercial-ShareAlike 4.0 International" onclick="event.preventDefault();
      window.open('https://creativecommons.org/licenses/by-nc-sa/4.0', '_blank');" class="copyright" style="all: unset; cursor: pointer;">©</a> <a id="dpd-link"
        href="" title="Открыть слово в ru.Dpdict.net" target="_blank">DPD</a>
    </div>
  </div>

<div id="tab-container" class="tab-buttons">
 <!-- <span class="tab-link active">DPD</span>-->

  <a id="bold-def-link" class="tab-link" target="_blank" rel="noopener">
    CST Bold Definitions
  </a>

  <a id="translations-link" class="tab-link" target="_blank" rel="noopener">
    Translations
  </a>
</div>

  <script src="static/home.js"></script>
  <script src="static/tabs.js"></script>
  <script src="static/bold_definitions.js"></script>
  <script src="static/dpd.js" defer></script>
  <script src="static/autopali.js" defer></script>
  <script src="static/extra.js"></script>
  <script src="static/sorter.js" defer></script>
  <script src="static/openDicts.js" defer></script>
</body>

</html>