<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DG Digital Pāḷi Dictionary</title>
  <link rel="manifest" href="/static/manifest.json">
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/static/sw.js');
    }
  </script>

  <meta name="theme-color" content="#1a8bdb">

<link rel="canonical" href="https://dict.dhamma.gift/">
<link rel="alternate" href="https://dict.dhamma.gift/ru/" hreflang="ru">
<link rel="alternate" href="https://dict.dhamma.gift/" hreflang="en">
<link rel="alternate" href="https://dict.dhamma.gift/" hreflang="x-default">

  <link rel="stylesheet" type="text/css" href="/static/home.css">
  <link rel="stylesheet" type="text/css" href="/static/switch.css">
  <link rel="stylesheet" type="text/css" href="/static/dpd.css">
  <link rel="icon" type="image/png" href="/static/dpd-logo.svg">

  <link href="/static/jquery-ui.min.css" rel="stylesheet" />
<link href="/static/extrastyles.css" rel="stylesheet" />
<script src="/static/jquery-3.7.0.min.js"></script>
<script src="/static/jquery-ui.min.js"></script>

<style>
</style>

</head>


<body>
<div id="tab-container"class="tab-buttons">
<button class="tab-link active" onclick="openTab(event, 'dpd-tab')">DPD</button>
<button class="tab-link" onclick="openTab(event, 'bold-def-tab')">CST Bold Definitions</button>
</div>


<div id="dpd-tab" class="tab-content active">
<div class="header-pane">
<div class="logo-title">
<a href="javascript:void(0)" title="toggle En/Ru (Alt+1 or Ctrl+1)" onclick="changeLanguage('ru')" class="alogo"><img src="/static/dpd-logo.svg" alt="dpd logo" id="header-image" class="header-image"></a>
<h2 class="title" id="title-clear"><a href="/" class="alogo">DPD</a></h2>
</div>

<div class="header-lang-button">
<button class="round-button" title="toggle En/Ru (Alt+1 or Ctrl+1)" onclick="changeLanguage('ru')">ru</button>
</div>

<form id="search-form">
<div class="mb-3 form-group input-group ui-widget dropup rounded-pill">
<label class="sr-only dropup" for="search-box"></label>
<input class="search-box" type="search" name="search" id="search-box" placeholder="Search..." value="{{ search }}" autocomplete="off" inputmode="text" autocapitalize="off" autofocus>
<button class="search-button" id="search-button"><span>search</span></button>
<button class="help small-button" id="search-help-button">
?
<span class="tooltip velthuis">
<b>
Velthuis Typing:
</b><br><br>
aa - ā<br>
ii - ī<br>
uu - ū<br>
"n - ṅ<br>
~n - ñ<br>
.t - ṭ<br>
.d - ḍ<br>
.n - ṇ<br>
.m - ṃ<br>
.l - ḷ
</span>
</button>

</div>
</form>
</div>
<div class="main-pane" id="main-pane">
<div class="history-pane" id="history-pane">
<button class="collapse-btn" onclick="toggleHistory()">
<h3>
History <div class="history-icon"></div>
</h3>
</button>
<div id="history-content">


<button id="clear-history-button" class="clear-history-button">x</button>
<div class="history-list-pane" id="history-list-pane"></div>
</div>
</div>
<div class="dpd-pane" id="dpd-pane">
<div class="summary-results" id="summary-results"></div>
<div class="dpd-results" id="dpd-results">
{{ dpd_results|safe }}
</div>
</div>
<div class="settings-pane">
<button class="collapse-btn" onclick="toggleSettings()">
<h3>
Settings <div class="settings-icon"></div>
</h3>
</button>
<div id="settings-content">
<p>
<!-- Language selection dropdown -->
<div class="language-switcher">
<span class="language-icon" title="Language"> 🌐 Change Language
<span class="tooltip">
<b>Language</b>
</span>
</span>
<div class="dropdown" style="display: none;">
<a href="javascript:void(0)" class="dropdown-item" onclick="changeLanguage('en')">English</a>
<a href="javascript:void(0)" class="dropdown-item" onclick="changeLanguage('ru')">Русский</a>
</div>
</div>
</p>
<p>
<button class="small-button" id="font-size-down">-</button>
<button class="small-button" id="font-size-up">+</button>
font size
<span id="font-size-display"></span>
</p>
<p>
<label class="switch">
<input type="checkbox" id="theme-toggle"><span class="slider round"></span>
</label>
light / dark mode
</p>
<p>
<label class="switch">
<input type="checkbox" id="sans-serif-toggle"><span class="slider round"></span>
</label>
sans / serif font
</p>
<p>
<label class="switch">
<input type="checkbox" id="niggahita-toggle"><span class="slider round"></span>
</label>
niggahīta ṃ / ṁ
</p>
<p>
<label class="switch">
<input type="checkbox" id="grammar-toggle"><span class="slider round"></span>
</label>
grammar button closed / open
</p>
<p>
<label class="switch">
<input type="checkbox" id="example-toggle"><span class="slider round"></span>
</label>
example button closed / open
</p>
<p>
<label class="switch">
<input type="checkbox" id="one-button-toggle" checked><span class="slider round"></span>
</label>
one button at a time off / on
</p>
<!-- <p>
                <label class="switch">
                    <input type="checkbox" id="sbs-example-toggle"><span class="slider round"></span>
                </label>
                sbs example button closed / open
            </p> -->
<p>
<label class="switch">
<input type="checkbox" id="summary-toggle"><span class="slider round"></span>
</label>
summary hide / show
</p>
<p>
<label class="switch">
<input type="checkbox" id="sandhi-toggle"><span class="slider round"></span>
</label>
sandhi ' hide / show
</p>
<p>
<label class="switch">
<input type="checkbox" id="tabs-toggle">
<span class="slider round"></span>
</label>
Tabs hide / show
</p>

</div>
</div>
</div>
<div class="footer-pane">
<!-- Dropdown Dict -->
<div class="dict-dropdown-container">
  <button class="dict-dropdown-toggle" title="Open dictionaries" onclick="toggleDictDropdown(event)">
    Dict <span class="dropdown-arrow">▼</span>
  </button>
  <div class="dict-dropdown-menu">
    <div class="dropdown-section">
      <div class="dropdown-header">Dictionary Groups</div>
      <a class="dropdown-item" href="javascript:void(0)" onclick="openDictionaries(event)">
        <span class="dropdown-icon">📚</span> 4 Pali + 4 Skr + Wlib
      </a>
      <a class="dropdown-item" target="_blank" href="#" 
         title="PTS Pali Dictionary + Critical Pali Dictionary + Gandhari Dictionary"
         onclick="return openWithQueryMulti(event, [
           'https://dsal.uchicago.edu/cgi-bin/app/pali_query.py?searchhws=yes&matchtype=default&qs=',
           'https://cpd.uni-koeln.de/search?query=',
           'https://gandhari.org/dictionary?section=dop&search='
         ], '{{q}}')">
        <span class="dropdown-icon">📚</span> Pali PTS, Cone, CPD
      </a>
      <a class="dropdown-item" target="_blank" href="#" 
         title="Monier-Williams + Shabda-Sagara + Apte Practical + Macdonell"
         onclick="return openWithQueryMulti(event, [
           'https://www.sanskrit-lexicon.uni-koeln.de/scans/MWScan/2020/web/webtc/indexcaller.php?transLit=roman&',
           'https://www.sanskrit-lexicon.uni-koeln.de/scans/SHSScan/2020/web/webtc/indexcaller.php?transLit=roman&',
           'https://www.sanskrit-lexicon.uni-koeln.de/scans/APScan/2020/web/webtc/indexcaller.php?transLit=roman&',
           'https://www.sanskrit-lexicon.uni-koeln.de/scans/MDScan/2020/web/webtc/indexcaller.php?transLit=roman&'
         ], 'key={{q}}')">
        <span class="dropdown-icon">📚</span> Srk MW, SHS, AP, MD
      </a>
    </div>
    
    <div class="dropdown-section">
      <div class="dropdown-header">Pali Dictionaries</div>
      <a class="dropdown-item" target="_blank" href="javascript:void(0)" onclick="return openWithQuery(event, 'https://dsal.uchicago.edu/cgi-bin/app/pali_query.py?searchhws=yes&matchtype=default&qs={{q}}')">
        <span class="dropdown-icon">🏛️</span> PTS Dictionary
      </a>
      <a class="dropdown-item" target="_blank" href="javascript:void(0)" onclick="return openWithQuery(event, 'https://gandhari.org/dictionary?section=dop&search={{q}}')">
        <span class="dropdown-icon">🏛️</span> Cone Gandhari.org
      </a>
      <a class="dropdown-item" target="_blank" href="javascript:void(0)" onclick="return openWithQuery(event, 'https://cpd.uni-koeln.de/search?query={{q}}')">
        <span class="dropdown-icon">🏛️</span> Critical Pali Dict (CPD)
      </a>
    </div>
    
    <div class="dropdown-section">
      <div class="dropdown-header">Sanskrit Dictionaries</div>
      <a class="dropdown-item" target="_blank" href="javascript:void(0)" onclick="return openWithQuery(event, 'https://sanskrit-lexicon.uni-koeln.de/scans/MWScan/2020/web/webtc/indexcaller.php?transLit=roman&key={{q}}')">
        <span class="dropdown-icon">📜</span> Monier-Williams
      </a>
      <a class="dropdown-item" target="_blank" href="javascript:void(0)" onclick="return openWithQuery(event, 'https://www.sanskritdictionary.com/?iencoding=iast&lang=sans&action=Search&q={{q}}')">
        <span class="dropdown-icon">📜</span> Sanskrit Dictionary
      </a>
      <a class="dropdown-item" target="_blank" href="javascript:void(0)" onclick="return openWithQuery(event, 'https://www.learnsanskrit.cc/translate?dir=au&search={{q}}')">
        <span class="dropdown-icon">📜</span> LearnSanskrit
      </a>
    </div>
    
    <div class="dropdown-section">
      <div class="dropdown-header">Other Resources</div>
      <a class="dropdown-item" target="_blank" href="javascript:void(0)" onclick="return openWithQuery(event, 'https://dharmamitra.org/?target_lang=english-explained&input_sentence={{q}}')">
        <span class="dropdown-icon">🌍</span> Mitra Translator
      </a>
      <a class="dropdown-item" target="_blank" href="javascript:void(0)" onclick="return openWithQuery(event, 'https://www.wisdomlib.org/index.php?type=search&division=glossary&item=&mode=text&input={{q}}')">
        <span class="dropdown-icon">🌍</span> Wisdomlib
      </a>
      <a class="dropdown-item" target="_blank" href="javascript:void(0)" onclick="return openWithQuery(event, 'https://glosbe.com/pi/sa/{{q}}')">
        <span class="dropdown-icon">🌍</span> Glosbe Pli-Srk
      </a>
      <a class="dropdown-item" target="_blank" href="javascript:void(0)" onclick="return openWithQuery(event, 'https://www.aksharamukha.com/converter?target=&text={{q}}')">
        <span class="dropdown-icon">🌍</span> Aksharamukha Converter
      </a>
    </div>
  </div>
</div>
<!-- <a href="javascript:void(0)" title="Открыть слово в PTS, CPD, CONE, Skr, Wisdomlib (Alt + Q)" onclick="openDictionaries(event)">Dict</a> -->
<a id="fdg-link" href="" target="" title="Искать слово с помощью Dhamma.Gift" >DG</a> <a href="http://dhamma.gift/assets/dictTest.html" style="all: unset; cursor: pointer;">©</a> <a id="dpd-link" href="" title="Открыть слово в ru.Dpdict.net" target="_blank">DPD</a>
</div>
</div>

<div id="bold-def-tab" class="tab-content">
<div class="header-pane bd-header-pane">
<div class="logo-title">
<h2 class="title" id="bd-title-clear">CST Bold Definitions</h2>
</div>
<p class="centered-text">
Search for <b>360k+</b>
bold defined terms in the Chaṭṭha Saṅgāyana Tipiṭaka
</p>
<div class="bd-search-pane">
<h4>Search for definitions of the term</h4>
<form id="bd-search-form">
<input class="search-box bd-search-box" type="text" name="bd-search-1" id="bd-search-box-1"
value="{{ search }}" autocomplete="off" inputmode="text" autocapitalize="off">
</form>
<h4>which contain</h4>
<form id="bd-search-form">
<input class="search-box bd-search-box" type="text" name="bd-search-2" id="bd-search-box-2"
value="{{ search }}" autocomplete="off" inputmode="text" autocapitalize="off">
</form>
<h4>within them.</h4>
<button class="search-button" id="bd-search-button">search</button>
<button class="help small-button" id="search-help-button">
?
<span class="tooltip velthuis">
<b>
Velthuis typing:
</b><br><br>
aa > ā<br>
ii > ī<br>
uu > ū<br>
"n > ṅ<br>
~n > ñ<br>
.t > ṭ<br>
.d > ḍ<br>
.n > ṇ<br>
.m > ṃ<br>
.l > ḷ
</span>
</button>
</div>
<div class="bd-search-options">
<input type="radio" id="option1" name="option" value="starts_with">
<label for="option1">start with</label>
<input type="radio" id="option2" name="option" value="regex" checked>
<label for="option2">normal/rx</label>
<input type="radio" id="option3" name="option" value="fuzzy">
<label for="option3">fuzzy</label>
<button type="button" class="bd-search-option-clear">clear</button>
</div>
</div>
<div class="scrolling-pane" id="bd-results">
{{ bd_results|safe }}
</div>
<div class="footer-pane">
       <a href="javascript:void(0)" title="Открыть слово в PTS, CPD, CONE, Skr, Wisdomlib (Alt + Q)" onclick="openDictionaries(event)">Dict</a>
<a id="fdg-link" href="" target="" title="Искать слово с помощью Dhamma.Gift" >DG</a> <a href="http://dhamma.gift/assets/dictTest.html" style="all: unset; cursor: pointer;">©</a> <a id="dpd-link" href="https://digitalpalidictionary.github.io/webapp/cst_bold_def/" title="Открыть слово в ru.Dpdict.net" target="_blank">DPD</a>
</div>
</div>

<script src="static/home.js"></script>
<script src="static/tabs.js"></script>
<script src="static/bold_definitions.js"></script>
<script src="static/dpd.js"></script>
<script src="static/autopali.js"></script>
<script src="static/extra.js"></script>
<script src="static/sortableTable.js"></script>
<script src="static/openDicts.js"></script>
</body>

</html>
